{% extends 'base.html.twig' %}

{% block body %}
    <h2>Les catégories d'annonces</h2>
    <hr/>
    <ul id="category">
        {% for category in listCategories %}
            <li>
                <a href="{{ path('advByCat', { 'catName': category.category }) }}">{{ category.category }}</a>
            </li>
        {% else %}
            <li>Pas (encore !) de catégorie</li>
        {% endfor %}
    </ul>

{% endblock %}