    <ul>
        {% for category in listCategories %}
            <li>
                <a href="{{ path('advByCat', { 'catName': category.category }) }}">{{ category.category }}</a>
            </li>
        {% else %}
            <li>Pas (encore !) de catégorie</li>
        {% endfor %}
    </ul>
