{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align:center">Informations</h1>
    <hr >
    <p>Le site annoncesport.fr est le projet final de ma formation de développeur web junior que je réalise sur openClassRooms et est réalisé avec
        le framework Symfony en version 3.4.<br />Il est actuellement en phase de construction donc si vous relevez des bugs ou autres problèmes, n'hésitez pas à me le signaler.<br /><br />Bonne visite ! Arnaud</p>
    <hr />
{% endblock %}