{% extends 'base.html.twig' %}

{% block body %}
    <h1>TABLEAU DE BORD</h1>
    <hr/>
    <h2>Les annonces en attente de validation</h2>

    <div class="validateAdverts">
        Il y a actuellement : <span style='color: red;'>{{ render(controller("AppBundle:Admin:countUnvalid")) }}</span>
        annonce(s) non validée(s)
    </div>
    <hr/>
    <h2>Les 10 derniers membres enregistrés</h2>
    <div class="adminLastUsers">
        <div class="row">
            <div class="col-md-4"><b>Nom d'utilisateur</b></div>
            <div class="col-md-4"><b>Email</b></div>
            <div class="col-md-4"><b>Statut (0 Non validé | 1 Validé)</b></div>
        </div>
        <hr/>
        <div class="row">
            {% for users in users %}
                <div class="col-md-4">{{ users.username }}</div>
                <div class="col-md-4">{{ users.email }}</div>
                <div class="col-md-4">{{ users.enabled }}</div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
