/*********************** GENERAL ***********************/
body{
    /*background-color: #D3D3D3;*/
    background-color: white;
    font-family:"Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 13px; line-height: 1.4;
    color:#444444;
}

h1{
    font-size:1.8em;
}
h2{
    font-size: 1.6em;
}
h3{
    font-size: 1.4em;
}
h4{
    font-size: 1.2em;
}
h5{
    color: black;
}
a{
    color:#444444;
    text-decoration: none;
}
a:hover{
    color:black;
    text-decoration: none;
}
.content{
    margin-top:100px;
}
.center{
    display: flex;
    justify-content: center;
}
#text_right{
    margin-right: 50px;
}
.redText{
    color:red;
}
.published{
    display:none;
}
.flash_msg{
    color: green;
    text-align: center;
}

#category{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;   
    list-style-type: square;
}
/*********************** HEADER ***********************/
header{
    margin-bottom:85px;
}
.bg-dark {
    background-color: #3b80c5!important;
}
#logo{
    width: 300px;
    height:47px;
    margin-left: -200px;
}
/*********************** MENU ***********************/
.menu{
    margin-top:30px;
    background-color: white;
    padding: 5px;
    border: 1px solid lightgray;
}
.titreMenu{
    background-color: grey;
    color: white;
    padding: 5px;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.menuAddAdvert{
    background-color: #5eb5e0;
    padding:10px 40px;
    border-radius: 5px;
    margin-top:0px;
}
.menuAddAdvert a{
    color: white;
    text-align:center;
    margin-left: 25px;
}
.menuAddAdvert a{
    color: white;
}
.menuAddAdvert a:hover{
    color: white;
}
.listmenu{
    margin-left: -10px;
}
/*********************** SEARCH ***********************/
.search{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:-70px;
}
.searchForm{
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right:15px;
}
.formButton{
    padding-top:3px;
}
/*********************** ADVERTS ***********************/
.advert_img{
    width:750px;
    height:auto;
}
.advert_infos{
    font-size: 12px;
    margin-left: 28px;
}
.advert_infos_all{
    font-size:12px;
    margin-left:0px;
}
.advert_price{
    font-size: 18px;
    font-weight: bold;
    color: red;
}
.advert_display{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    margin: 0 auto;
}
.advert_display_img{
    height:120px;
    width: 200px;
    margin: 0px 25px 10px 25px;
    border:1px solid lightgrey;
}
.advert_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.advert_column{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 600px;
    padding-left: 15px;
    text-align: justify;
}

/*********************** MAP ***********************/
#advertMap{
    width: 800px;
    height: 400px;
    background-color: #999999;
    border: 1px solid black;
}
.localisation{
    display:none;
}
/*********************** ADMINISTRATION ***********************/
.validateAdverts{
    border:1px solid lightgray;
    padding: 15px;
}
.adminLastUsers{
    border:1px solid lightgray;
    padding:15px;
}
#myFooter{
    background-color: #dadada;
    padding-top: 10px;
    width: 100%;
}
.footer-copyright{
    text-align: center;
}
.edit_btn{
    text-align:center;
    border-radius: 5px;
    padding:3px;
    margin-bottom:10px;
    background-color:#3b80c5;
    color:white;
}
/*********************** FOOTER ***********************/

#myFooter{
    text-align: center;
}
#myFooter ul{
    list-style: none;
    text-align: left;
}

/**********************************************************/
/************************RESPONSIVE************************/
/**********************************************************/

@media screen and (min-width: 320px) and (max-width: 767px) {
    #logo{
        width: 200px;
        height: 31px;
        padding-left: 20px;
        margin:0;
    }
    #menu{
        display:none;
    }
    .footer_logo{
        display:none;
    }
    #advertMap{
        width: 100%;
    }
    .advert_img{
        width:100%;
    }
    .advert_display_img{
        width:100%;
        height:auto;
        margin:0;
    }
    .advert_container{
        flex-direction: column;
    }
}
@media screen and (min-width: 767px) and (max-width: 1152px) {
    .footer_logo{
        display:none;
    }
    #logo{
        width: 200px;
        height: 31px;
        margin:auto;
    }
    .nav_menu{
        display:none;
    }
    .menuAddAdvert {
        font-size:12px;
        padding: 5px;
        margin-left:-25px;
    }
    .menuAddAdvert a{
        margin-left: 10px;
    }
    .menu{
        margin-top:5px;
        margin-left: -25px;
    }
    .searchForm{
        padding-top: 15px;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right:1px;
    }
    .formButton{
        padding-top:1px;
    }
    .advert_img{
        width:100%;
    }
    #advertMap{
        width: 100%;
    }
    .listmenu{
        margin-left: -10px;
        font-size: 10px;
    }
}